<div id="<%= dom_id driver %>">
  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <% if driver.passport.present? %>
    <p>
      <strong>Passport:</strong>
      <%= driver.passport %>
    </p>
  <% end %>

  <% if driver.vy.present? %>
    <p>
      <strong>Vy:</strong>
      <%= driver.vy %>
    </p>
  <% end %>

  <div class="border-bottom my-2">
    <% driver.contacts.each do |contact| %>
      <%= render "cargo/contacts/contact", contact: contact %>
    <% end %>
  </div>
</div>
