<%= form_with(model: cargo_order) do |form| %>
  <% if cargo_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cargo_order.errors.count, "error") %> prohibited this cargo_order from being saved:</h2>

      <ul>
        <% cargo_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :status %>
  <div class="row" style="min-height: 200px;">
    <div class="position-relative col-2 p-0">
      <%= cargo_order_customer_exist(cargo_order) %>
      <div class="position-absolute bg-light p-1" id="customers_show" style="display: none;"></div>
    </div>

    <div class="position-relative col-2 p-0">
      <%= cargo_order_town_from_exist(cargo_order) %>
      <div class="position-absolute border border-dark bg-light p-1 w-100" id="town_from_show" style="display: none;"></div>
    </div>

    <div class="position-relative col-2 p-0">
      <%= cargo_order_town_in_exist(cargo_order) %>
      <div class="position-absolute border border-dark bg-light p-1 w-100" id="town_in_show" style="display: none;"></div>
    </div>

    <div class="position-relative col-2 p-0">
      <%= cargo_order_carrier_exist(cargo_order) %>
      <div class="position-absolute border border-dark bg-light p-1  w-100" id="carriers_show"
        style="display: none; z-index: 1;">
      </div>

      <div class="position-absolute" id="cars_drivers"
        style="display: <%= cargo_order.car.present? ? "block" : "none" %>;">
        <%= cargo_order_car_exist(cargo_order) %>
        <%= cargo_order_driver_exist(cargo_order) %>
      </div>
    </div>
  </div>
  <div>
    <%= form.submit :submit, class: "btn btn-success" %>
  </div>
<% end %>
