<div class="border col-6">
  <%= form_with url: cargo_exist_folder_path do |form| %>
    <%= form.label :query, "Name folder:" %>
    <div id="name-folder" class="border d-inline-block" style="min-width: 60%;">
      <%= @cargo_order.folder.present? ? @cargo_order.folder : date_name_folder %>
    </div>
    <%= form.hidden_field :name_folder, value: "#{@cargo_order.folder}", id: "name-folder-hidden"%>
    <%= form.submit "Exist folder", class: "btn btn-success d-inline-block"  %>
  <% end %>
</div>
