<%= form_with url: cargo_exist_doc_path do |form| %>
  <%= form.hidden_field :name_folder, value: "#{@cargo_order.folder}", id: "name-folder-hidden-to-file"%>

  <br />
    <br />
      <br />
  <div>
    <%= form.hidden_field :id, value: @cargo_order.id %>
    Заявка-договор №<%= form.text_field :order_number, value: "#{name_order_to_doc}", style: "width: 80px;" %>
    от <%= form.text_field :order_date, value: "#{date_order}" %>
  </div>
  <div>
    ЗАКАЗЧИК: <%= form.text_field :cus_name, value: "#{@cargo_order.customer.name}" %>
    ИНН: <%= form.text_field :cus_inn, value: "#{@cargo_order.customer.inn}" %>
    ОГРН: <%= form.text_field :cus_ogrn, value: "#{@cargo_order.customer.ogrn}" %>
  </div>

  <div>
    ПЕРЕВОЗЧИК: <%= form.text_field :car_name, value: "#{@cargo_order.carrier.name}" %>
    ИНН: <%= form.text_field :car_inn, value: "#{@cargo_order.carrier.inn}" %>
    ОГРН: <%= form.text_field :car_ogrn, value: "#{@cargo_order.carrier.ogrn}" %>
  </div>
  <div>
    Маршрут: <%= form.text_field :order_route, style: "width: 600px;", value: "#{@cargo_order.town_from.title}(#{@cargo_order.town_from.region}) - #{@cargo_order.town_in.title}(#{@cargo_order.town_in.region})" %>
  </div>
  <div>
     Дата загрузки: <%= form.text_field :order_date_load, style: "width: 900px;", value: "#{
        if @cargo_order.date_load.present?
          @cargo_order.date_load
        else
          "#{Time.now.strftime("%d.%m.%Y")} по согласованию."
        end
        }" %>
  </div>
  <div>
    Адрес загрузки: <%= form.text_field :order_adress_load, style: "width: 900px;", value: "#{@cargo_order.adress_load.adress if @cargo_order.adress_load.present? }" %>
  </div>
  <div>
     Дата выгрузки: <%= form.text_field :order_date_reload, style: "width: 900px;", value: "#{
        if @cargo_order.date_reload.present?
          @cargo_order.date_reload
        else
          "#{Time.now.strftime("%d.%m.%Y")} по согласованию."
        end
        }" %>
  </div>
  <div>
    Адрес выгрузки: <%= form.text_field :order_adress_reload, style: "width: 900px;", value: "#{@cargo_order.adress_reload.adress if @cargo_order.adress_reload.present? }" %>
  </div>
  <div>
Сведения о грузе: CARGO!!!!!! вес, объем. Способ загрузки/выгрузки: верх/бок/зад

Дата и время загрузки: ХХ.ХХ.2022 по согласованию.
Адрес загрузки: г. Московская область, Ленинский г.о, д. Белеутово 462 ,  тел.:  +7 985 107-82-00 Майя

Дата и время выгрузки: ХХ.ХХ.2022 по согласованию.
Адрес выгрузки: г. Московская область, Ленинский г.о, д. Белеутово 462 ,  тел.:  +7 985 107-82-00 Майя

Автомобиль: марка - #{@cargo_order.car.brand unless @cargo_order.car.nil?}, рег.знак - #{@cargo_order.car.reg_mark unless @cargo_order.car.nil?}, кузов - тент.

Водитель: #{@cargo_order.driver.name unless @cargo_order.driver.nil?} паспорт: #{@cargo_order.driver.passport  unless @cargo_order.driver.passport.nil?}
тел.: #{@cargo_order.driver.contacts.first.tel}

                          СВЕДЕНИЯ ОБ ОПЛАТЕ
Стоимость услуги: #{@cargo_order.payment.sum}( тысяч рублей)
Форма и условия оплаты: Наличным расчетом водителю перед выгрузкой! После оплаты перевозки перевозчик обязан перевести #{@cargo_order.payment.sin}рублей на карту №5536 9138 3095 6906 держатель Александр Михайлович К.
</div>

"
  <!--%= image_tag("signature")%-->
  <div class="position-relative col-2 p-0">
    <%= form.submit "Exits file", class: "btn btn-success m-2 d-inline-block" %>
    <%= link_to "Перейти к файлу", '/', class: 'btn btn-success m-2 d-inline-block' %>
  </div>
<% end %>
