<%= form_with url: cargo_exist_doc_path do |form| %>
  <%= form.hidden_field :name_folder, value: "#{@cargo_order.folder}", id: "name-folder-hidden-to-file"%>

  <br />
    <br />
      <br />
  <div>
    <%= form.hidden_field :id, value: @cargo_order.id %>
    Заявка-договор №<%= form.text_field :order_number, value: "#{name_order_to_doc}", style: "width: 80px;" %>
    от <%= form.text_field :order_date, value: "#{date_order}" %>
  </div>
  <div>
    ЗАКАЗЧИК: <%= form.text_field :cus_name, value: "#{@cargo_order.customer.name}" %>
    ИНН: <%= form.text_field :cus_inn, value: "#{@cargo_order.customer.inn}" %>
    ОГРН: <%= form.text_field :cus_ogrn, value: "#{@cargo_order.customer.ogrn}" %>
  </div>

  <div>
    ПЕРЕВОЗЧИК: <%= form.text_field :car_name, value: "#{@cargo_order.carrier.name if @cargo_order.carrier.present? }" %>
    ИНН: <%= form.text_field :car_inn, value: "#{@cargo_order.carrier.inn if @cargo_order.carrier.present? }" %>
    ОГРН: <%= form.text_field :car_ogrn, value: "#{@cargo_order.carrier.ogrn if @cargo_order.carrier.present? }" %>
  </div>
  <div>
    Маршрут: <%= form.text_field :order_route, style: "width: 600px;", value: "#{@cargo_order.town_from.title}(#{@cargo_order.town_from.region}) - #{@cargo_order.town_in.title}(#{@cargo_order.town_in.region})" %>
  </div>
  <div>
     Дата загрузки: <%= form.text_field :order_date_load, style: "width: 900px;", value: "#{
        if @cargo_order.date_load.present?
          @cargo_order.date_load
        else
          "#{Time.now.strftime("%d.%m.%Y")} по согласованию."
        end
        }" %>
  </div>
  <div>
    Адрес загрузки: <%= form.text_field :order_adress_load, style: "width: 900px;", value: "#{@cargo_order.adress_load.adress if @cargo_order.adress_load.present? }" %>
  </div>
  <div>
     Дата выгрузки: <%= form.text_field :order_date_reload, style: "width: 900px;", value: "#{
        if @cargo_order.date_reload.present?
          @cargo_order.date_reload
        else
          "#{Time.now.strftime("%d.%m.%Y")} по согласованию."
        end
        }" %>
  </div>
  <div>
    Адрес выгрузки: <%= form.text_field :order_adress_reload, style: "width: 900px;", value: "#{@cargo_order.adress_reload.adress if @cargo_order.adress_reload.present? }" %>
  </div>
  <div>
    Характеристики груза:<br/>
    Чот везем: <%= form.text_field :gruz_what_is, style: "width: 500px;", value: "#{ @cargo_order.gruz.what_is if @cargo_order.gruz.present? && @cargo_order.gruz.what_is.present? }" %>
  </div>
  <div>
    Вес: <%= form.text_field :gruz_weight, style: "width: 100px;", value: "#{ @cargo_order.gruz.weight if @cargo_order.gruz.present? && @cargo_order.gruz.weight.present? }" %>
  </div>
  <div>
    Объем: <%= form.text_field :gruz_volume, style: "width: 100px;", value: "#{ @cargo_order.gruz.volume if @cargo_order.gruz.present? && @cargo_order.gruz.volume.present? }"  %>
  </div>

  <!--%= image_tag("signature")%-->
  <div class="position-relative col-2 p-0">
    <%= form.submit "Exits file", class: "btn btn-success m-2 d-inline-block" %>
    <%= link_to "Перейти к ИП", cargo_file_exist_path(@cargo_order), class: 'btn btn-success m-2 d-inline-block' %>
    <%= link_to "Перейти к Я", cargo_file_exist_i_path(@cargo_order), class: 'btn btn-success m-2 d-inline-block' %>
  </div>
<% end %>
