<div class="row my-2" style="position: relative;">
  <div class="border col-2" id="new-folder">
    <h2>Edit order</h2>
  </div>

  <%= render "form_folder", cargo_order: @cargo_order %>
</div>

<%= render "form", cargo_order: @cargo_order %>
<%= render "form_doc", cargo_order: @cargo_order %>
<div>
  <%= link_to "Show this order", @cargo_order %> |
  <%= link_to "Back to orders", cargo_orders_path %>
</div>
