<div class="row bg-dark rounded py-2 my-1">
  <%= form_for @subsection, html: { class: "row col-10" } do |f| %>
    <div class="col-10 form-group d-inline-block">
      <%= f.text_field :name, placeholder: 'add subsection', class: "mb-2 form-control p-1 pr-2" %>
    </div>
    <div class="col-2 d-inline-block">
      <%= f.submit "save subsection", class: "w-100 btn btn-primary d-inline-block" %>
    </div>

    <% unless @chapter.nil? %>
      <%= hidden_field_tag :chapter_id, @chapter.id %>
    <% end %>
  <% end %>

  <% unless @subsection.id.nil? %>
    <div class="col-2 align-top">
      <%= button_to "destroy", subsection_path(@subsection.id), method: :delete,
        class: "btn btn-danger w-100",
        onclick: "return confirm('#{t("subsection.comments.destroy")}')"
      %>
    </div>
  <% end %>
</div>
