<p style="color: green"><%= notice %></p>

<%= render @cargo_contact %>

<div>
  <%= link_to "Edit this contact", edit_cargo_contact_path(@cargo_contact) %> |
  <%= link_to "Back to contacts", cargo_contacts_path %>

  <%= button_to "Destroy this contact", @cargo_contact, method: :delete %>
</div>
