<div id="<%= dom_id carrier %>">
  <p>
    <strong>Name:</strong>
    <%= carrier.name %>
  </p>

  <p>
    <strong>Inn:</strong>
    <%= carrier.inn %>
  </p>

  <p>
    <strong>Ogrn:</strong>
    <%= carrier.ogrn %>
  </p>

  <p>
    <strong>Passport:</strong>
    <%= carrier.passport %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= carrier.adress %>
  </p>

</div>
