<div class="row">
  <div class="col-6 p-2" id="<%= dom_id carrier %>">
    <div>
      <strong>Name:</strong>
      <%= carrier.name %>
    </div>

    <% if carrier.inn.present? %>
      <div>
        <strong>Inn:</strong>
        <%= carrier.inn %>
      </div>
    <% end %>

    <% if carrier.ogrn.present? %>
      <div>
        <strong>Ogrn:</strong>
        <%= carrier.ogrn %>
      </div>
    <% end %>

    <% if carrier.ogrn.present? %>
      <div>
        <strong>Passport:</strong>
        <%= carrier.passport %>
      </div>
    <% end %>

    <% if carrier.ogrn.present? %>
      <div>
        <strong>Adress:</strong>
        <%= carrier.adress %>
      </div>
    <% end %>

    <div class="border-bottom my-2">
      <% carrier.contacts.each do |contact| %>
        <%= render "cargo/contacts/contact", contact: contact %>
      <% end %>
    </div>
  </div>

  <div class="col-6 p-2">
    <div class="border-bottom">
      <div>Cars: <%= carrier.cars.size %></div>
      <% carrier.cars.each do |car| %>
        <div>
          <%= car.brand %>
          <strong>
            <%= link_to car.reg_mark, cargo_car_path(car.id) %>
          </strong>
          <% if car.p_mark.present? %> П/П:<%= car.p_mark %><% end %>
        </div>
      <% end %>
    </div>

    <div class="border-bottom">
      <div>Drivers: <%= carrier.drivers.size %></div>
      <% carrier.drivers.each do |driver| %>
        <div>
          <%= link_to  driver.name, cargo_driver_path(driver.id) %>
          <%= driver.contacts.first.tel %>
        </div>
      <% end %>
    </div>
  </div>
</div>
