<p style="color: green"><%= notice %></p>

<%= render @cargo_carrier %>
  <%= link_to "Add car", cargo_new_car_path(@cargo_carrier), class: "btn btn-dark" %>
<div>
  <%= link_to "Edit this carrier", edit_cargo_carrier_path(@cargo_carrier), class: "btn btn-success my-2" %>
  <%= link_to "Back to carriers", cargo_carriers_path, class: "btn btn-success my-2" %>

  <%= button_to "Destroy this carrier", @cargo_carrier, method: :delete,
    onclick: "return confirm('Are you sure?')", class: "btn btn-danger" %>
</div>
