<div class="border border-dark m-1 p-2">
  <% unless block.comment.blank? %>
    <%= content_tag :div, block.comment, class: 'text-muted mt-1' %>
  <% end %>

  <% unless block.content.blank? %>
    <!-- делим по строкам -->
    <% block.content.split("\r\n").each do |item| %>
      <!-- проверяем наличие нужных символов -->
      <% if item.include?("#=>") %>
        <% array_str = item.split("#=>") %>
        <%= array_str.first %> &nbsp;&nbsp; <span class="text-success">#=> <%= array_str.last %></span><br>
      <% elsif item.include?("#") %>
        <% array_str = item.split("#") %>
        <%= array_str.first %> &nbsp;&nbsp; <span class="text-muted"># <%= array_str.last %></span><br>
      <% else %>
        <%= item %><br>
      <% end %>
    <% end %>
  <% end %>

  <% unless block.link.blank? %>
    <div class="mt-1">
      <%= link_to block.link, block.link, target: '_blank' %>
    </div>
  <% end %>
</div>
