<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Inn:</strong>
    <%= customer.inn %>
  </p>

  <p>
    <strong>Ogrn:</strong>
    <%= customer.ogrn %>
  </p>

  <p>
    <strong>Passport:</strong>
    <%= customer.passport %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= customer.adress %>
  </p>

</div>
