<p style="color: green"><%= notice %></p>

<%= render @cargo_customer %>

<div>
  <%= link_to "Edit this customer", edit_cargo_customer_path(@cargo_customer) %> |
  <%= link_to "Back to customers", cargo_customers_path %>

  <%= button_to "Destroy this customer", @cargo_customer, method: :delete,
    onclick: "return confirm('Are you sure?')" %>
</div>
