<%= content_tag :div, (content_tag :h1, "Update <<#{@chapter.name}>>"), class: 'col-6 text-center d-inline-block' %>

<%= render 'form' %>
<%= render 'subsections/form' %>
<%= render 'blocks/form' %>

<div>
  <%= render partial: 'blocks/block_edit', collection: @chapter.blocks.order(:number_line) %>
</div>
