<!DOCTYPE html>
<html>
  <head>
    <title>Dairy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!--%= javascript_importmap_tags   defaults   javascript_include_tag :defaults %>  %-->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application" %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
  <style>

  </style>
    <div class="row bg-info p-2 mb-1">
      <div class="col-10 m-auto">
        <div class="col-9 d-inline-block">
          <%= link_to t("message.main"), root_path, class: "btn btn-dark" %>
          <%= link_to t("message.back"), :back, class: "btn btn-dark" %>
          <%= link_to "Create chapter", new_chapter_path, class: "btn btn-dark" %>
        </div>
        <div class="col-2 d-inline-block">
          <%= link_to t("message.error"), errors_path, class: "btn btn-dark" %>
          <%= link_to "create error", new_error_path, class: "btn btn-dark" %>
        </div>
      </div>
    </div>
    <div class="col-11 m-auto">
      <%= yield %>
    </div>
  </body>
</html>
