<!DOCTYPE html>
<html>
  <head>
    <title>Dairy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <style>

  </style>
    <div class="col-12 bg-info p-2 mb-1">
      <div class="col-11 m-auto">
        <%= link_to t('message.main'), root_path, class: 'btn btn-dark' %>
        <%= link_to t('message.back'), :back, class: 'btn btn-dark' %>
        <%= link_to "Create chapter", new_chapter_path, class: "btn btn-dark" %>
      </div>
    </div>
    <div class="col-11 m-auto">
      <%= yield %>
    </div>
  </body>
</html>
