<!DOCTYPE html>
<html>
  <head>
    <title>Dairy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="row bg-info p-2">
      <div class="row col-10 m-auto">
        <div class="col-4">
          <%= link_to t("chapter.main"), root_path, class: "btn btn-dark" %>
          <%= link_to t("message.back"), :back, class: "btn btn-dark" %>
          <%= link_to t("chapter.create"), new_chapter_path, class: "btn btn-dark" %>
        </div>

        <div class="col-4">
          <%= text_field_tag :search, nil, placeholder: t("message.search"), class: "mb-2 w-100" %>
        </div>

        <div class="col-4">
          <%= link_to t("error.name"), errors_path, class: "btn btn-dark" %>
          <%= link_to t("error.create"), new_error_path, class: "btn btn-dark" %>
          <%= link_to t("tasks.name"), tasks_path, class: "btn btn-dark" %>
        </div>
      </div>
    </div>

    <div class="col-11 m-auto">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%=key %> m-2" id="win-message">
          <button class="btn btn-close float-end" id="btn-close"></button>
          <%= value %>
        </div>
      <% end %>

    <div id="conteiner"><%= yield %></div>
    </div>
  </body>
</html>
